
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v4/qx1LSqts-NtiKcLw4N03IEd0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2'), url(http://fonts.gstatic.com/s/kaushanscript/v4/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(https://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(https://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5898u2Q0OS-KeTAWjgkS85mDg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5899kZXW4sYc4BjuAIFc1SXII.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url(https://fonts.gstatic.com/s/droidserif/v6/c92rD_x0V1LslSFt3-QEpo9ObOXPY1wUIXqKtDjSdsY.woff2) format('woff2'), url(http://fonts.gstatic.com/s/droidserif/v6/c92rD_x0V1LslSFt3-QEpgRV2F9RPTaqyJ4QibDfkzM.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url(https://fonts.gstatic.com/s/robotoslab/v6/MEz38VLIFL-t46JUtkIEgNFPPhm6yPYYGACxOp9LMJ4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotoslab/v6/MEz38VLIFL-t46JUtkIEgCeJLMOzE6CCkidNEpZOseY.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJUo2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJR_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
    color: #777;
}
.text-primary {
    color: #2e4cbb;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a, a.active, a:active, a:focus, a:hover {
    outline: 0;
}
a {
    color: #2e4cbb;
}
a.active, a:active, a:focus, a:hover {
    color: #243b92;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width: 768px){
#topbg {
position: absolute;
margin-top: -130px;
width: 100%;
height: 120px;
background-color: rgba(0, 0, 0, 1);
}
}

.formerror > h5 {
color: #FF0000 !important;
}

.formerror > h5:before {
content:'\002A';
}

.formerror > input, .formerror > select, .formerror > textarea {
border: 2px solid #FF0000 !important;
}
.formerror > #chkhldr {
border: 1px dashed #FF0000 !important;
}

#errorDisplay {
color: #FF0000;
}
#errorDisList li {
margin-bottom: 10px !important;
}
#errorDisList li:before {
  content: "\002A  ";
}
#errorDisplay2 {
color: #FF0000;
}
#errorDisList2 li {
margin-bottom: 10px !important;
}
#errorDisList2 li:before {
  content: "\002A  ";
}

.btn-xl {
    color: #fff;
    background-color: #2e4cbb;
    border-color: #2e4cbb;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 35px;
}

.btnbox {
position: relative;
margin: 0 auto;
margin-top: 75px;
margin-bottom: 250px;
width: 80%;
}
.btnright {
position: absolute;
top: 0;
right: 0;
}
.btnleft {
position: absolute;
top: 0;
left: 0;
}
@media (max-width: 1000px) {
.btnright {
top: 120px;
left: 0;
}
.btnleft {
right: 0;
}
}
@media (max-width: 500px) {
.btn-xl {
	font-size: 1em;
    padding: 20px 5px;
}
}
.btn-xl:active, .btn-xl:focus, .btn-xl:hover {
    color: #fff;
    background-color: #243b92;
    border-color: #22388a;
}
.btn-xl:active {
    background-image: none;
}
.navbar-default {
    background-color: #222;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #2e4cbb;
    font-size: 3em;
}
.navbar-default .navbar-brand img {
    height: 50px;
	margin-top: -20px;
}
.navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #243b92;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}
.navbar-default .navbar-toggle {
    background-color: #2e4cbb;
    border-color: #2e4cbb;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #2e4cbb;
}
.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #e0e0e0;
	margin-left: 5px;
}
.navbar-default .nav li a:focus, .navbar-default .nav li a:hover {
    color: #2e4cbb;
    outline: 0;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #2e4cbb;
}
.navbar-default .navbar-nav>.activepage>a {
    border-radius: 0;
    color: #fff;
    background-color: #2e4cbb;
}
.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #243b92;
}
.navbar-default .navbar-nav>.activepage>a:focus, .navbar-default .navbar-nav>.activepage>a:hover {
    color: #fff;
    background-color: #243b92;
}
@media (min-width:768px) {
    .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: none;
}
.navbar-default .navbar-brand {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.navbar-default .navbar-brand img {
    height: 75px;
	margin-top: -25px;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
}
.navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0;
}
}

#header .container {
position: relative;
    text-align: center;
    color: #fff;
	margin-top: 130px;
	height: 425px;
}

@media (max-width: 766px) {
	#header .container {
    	margin-top: 20px;
        height: 400px;
    }
}

#slideshow {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	padding-left: 0px;
}

#slideshow li {
width: 100%;
height: 425px;
background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	width: 100%;
	height: 425px;
}

#slide1 {
	background-image: url(../img/header-bg.jpg);
	}

#slide2 {
	background-image: url(../img/technician.jpg);
}

#slide3 {
	background-image: url(../img/handyman.jpg);
}

#slideshow .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
#slideshow .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}
#slideshow .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}
@media (min-width:768px) {
   #slideshow  .intro-text {
    padding-top: 125px;
    padding-bottom: 200px;
}
#slideshow .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}
#slideshow .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 50px;
}
}section {
    padding: 100px 0;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}

#main {
margin-top: 100px;
margin-bottom: 25px;
padding: 25px;
}

#main ul {
list-style-type: none;
padding-left: 0;
}

#main li {
margin-bottom: 25px;
}

.bold {
font-weight: 700;
}
.disclaim {
font-size: 75%;
}
.red {
color: red;
font-size: 90%;
}
.formhead {
margin-bottom: -5px;
}
#chkhldr {
position: relative;
width: 80%;
min-width: 250px;
margin-left: 0;
margin-bottom: 10px;
padding-bottom: 10px;
padding: 4px;
}
#chkhldr1 {
  float: left;
  display: inline-block;
  width: 280px;
}
#chkhldr2 {
  display: inline-block;
}
.columnuno {
  display: inline-block;
  width: 250px;
}
.columndos {
  display: inline-block;
  width: 250px;
}
.clearline {
clear: both;
}
.capresponse {
transform:scale(0.75);
transform-origin:0;
-webkit-transform:scale(0.75);
transform:scale(0.75);
-webkit-transform-origin:0 0;
transform-origin:0 0; 0
}
@media (min-width: 640px) {
.capresponse {
transform:scale(0.9);
transform-origin:0;
-webkit-transform:scale(0.9);
transform:scale(0.9);
-webkit-transform-origin:0 0;
transform-origin:0 0; 0
}
}
@media (min-width:768px) {
    section {
    padding: 150px 0;
}
}.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

@media (min-width:768px) {
    .timeline: before {
    left: 50%}
	
}.team-member {
    text-align: center;
    margin-bottom: 50px;
}

.white_content {
	display: none;
	position: fixed;
	top: 15%;
	width: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
	min-width: 300px;
	height: 80%;
	padding: 5px;
	border: 16px solid #2e4cbb;
	background-color: white;
	z-index:1002;
	overflow: auto;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#closebox{
position: absolute;
top: 20px;
right: 20px;
}

#closebox a {
text-decoration: none;
color: #000000;
}

#closebox a:hover {
border-bottom: 1px dashed #2e4cbb;
color: #2e4cbb;
}

#contactfrm {
position: absolute;
top: 50px;
left: 5%;
width: 90%;
padding-bottom: 15px;
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}
section#contact .section-heading {
    color: #fff;
}

#submit, #reset, #submitBtn {
	color: #fff;
	background-color: #2e4cbb;
    padding: 5px;
    margin-right: .5em;
    min-width: 4em;
}

#submit:hover, #reset:hover {
	color: #2e4cbb;
	background-color: #fff;
	cursor: pointer;
}

section#contact ::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact :-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact ::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact :-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

footer {
    padding: 25px 0;
    text-align: center;
}
footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #2e4cbb;
}
.btn:active, .btn:active:focus, .btn:focus {
    outline: 0;
}
::-moz-selection {
    text-shadow: none;
    background: #2e4cbb;
}
::selection {
    text-shadow: none;
    background: #2e4cbb;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
body {
    webkit-tap-highlight-color: #2e4cbb;
}
/*3.0 App*/
.card {
  background: #fff;
  padding: 10px;
  width: 300px;
  margin: auto;
}
.card span {
  color: #333;
  display: block;
  text-align: left;
}
.card span:before {
  content: attr(class) ": ";
  font-weight: bold;
  text-transform: capitalize;
}
.card h1 {
  text-align: center;
  font-size: 1.3em;
  margin: 0;
  padding-bottom: 6px;
}